/* only theme css */
ul,ol{
   list-style-type: none;
}
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    transition: all .6s ease-in-out;
}
img{
  display: inline-block;
  width: auto;
  height: 100%;
  vertical-align: middle;
  object-fit: cover;
}
/* scrollbar c'est ici */
*{
    /* ff */
    scrollbar-width: thin;
    scrollbar-color: #000 #fff;
}
/* webkit */
*::-webkit-scrollbar{
    width: .2rem;
}

header h1{
    text-align: center;
    
}
main{
    max-width: 140rem;
    margin: 5rem auto;
}
.darkmode{
    background-color: #222;
    color: #fff;
}
/* snap scroll css */
.scroll-container,
.scroll-area {
  width: auto;
  height: 100vh;
  font-size: 60px;
  list-style: none;
}

.scroll-container {
  
    overflow: auto;
    -webkit-scroll-snap-type: y mandatory;
        -ms-scroll-snap-type: y mandatory;
            scroll-snap-type: y mandatory;
}

.scroll-area {
    scroll-snap-align: start;
   
}

.scroll-container,
.scroll-area {
  margin: 0 auto;
}
.scroll-area {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #222;
}


footer *{
    text-align: center;
}
/* media query */
section p{
  container-type: inline-size; /* block-size */
  container-name: section;
  text-align: justify;
}
@container (min-width: 140rem) {
  section p{
    container-type: inline-size; 
  }
  
}

@media screen and (min-width: 41.2rem){

  section p{
    container-type: inline-size;
 
   
  }
  
}
@media screen and (orientation: landscape) {
 section p {
  container-type: normal;
 
  }
}


